.fixed-header-postition {
  /* position: fixed; */
  margin-top: -10px;
  background-color: #fff;
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}
/* .fav-container {
  padding-top: 40px;

  background-color: lightblue;
  height: 100%;
  width: 20%;
}
.movie-container {
  background-color: lightcoral;
  width: 80%;
  height: 100vh;
} */
